extends ./layout.pug

block content
        h1 New BLog home page
        p Now, I don't know exactly when we turned on each other, but I know that seven of us survived the slide... and only five made it out. Now we took an oath, that I'm breaking now.